@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    user-select: none;
    overflow-x: hidden;
    background-color: #E6EFF5;
    font-family: "Karla", sans-serif;
    padding: 25px 32px 25px 32px;


}

.cont {

    width: 311px;
    height: 750px;
}

header {
    width: 311px;
    height: 300px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 34px 36.6px 34px 36.5px;
}

main {

    background-color: #2AB3B1;

}

footer {
    background-color: #4ABFBD;
    border-radius: 0 0 10px 10px;
}

main,
footer {
    padding: 24px 36.5px 24px 36.5px;
    width: 311px;
    height: 225px;
}

h1 {
    font-size: 24px;

    color: #2AB3B1;

}

h1,
h2 {
    line-height: 115%;
    letter-spacing: -0.25px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    color: #C0DF33;
    margin-top: 24px;
}

h3 {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 165%;
    color: #9AA7BE;
    font-weight: 400;
    margin-top: 8px;
}

h4 {
    letter-spacing: -0.25px;
    font-size: 18px;
    line-height: 115%;
    font-weight: 700;
    color: white;
}

img {
    margin-top: 16px;
}

h5 {
    color: white;
    font-weight: 200;
    line-height: 165%;
    font-size: 16px;
    letter-spacing: -0.5px;
}

button {
    background-color: #C0DF33;
    width: 238px;
    height: 48px;
    border-radius: 5px;
    margin-top: 29px;
    border: none;
    pointer-events: none;
}

button p {
    font-size: 16px;
    line-height: 145%;
    letter-spacing: -0.25px;
    color: white;
    font-family: "Karla", sans-serif;

}

h6 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: -0.25px;
}

footer p {
    color: white;
    font-size: 14px;
    line-height: 145%;
    font-weight: 400;
    opacity: 75%;
    margin-top: 16px;
    width: 238px;
    height: 140px;
}